<ion-header>
  <ion-toolbar>
    <ion-title>Orbit Ways</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Popup Message -->
  <div class="popup-message-container" *ngIf="showPopup">
    <div class="popup-message">
      <h2>Yoshida Kana right! <br> 吉田香奈ちゃん、合ってるよね！</h2>
      <h2></h2>
      <p>Hello Sweetie, I love you 😊💗✨ <br> ねぇ、香奈、大好きだよ😊💗✨</p>
      <p></p>
      <button class="fun-button" (click)="dismissPopup()">
        Enjoy !
      </button>
    </div>
    <div class="black-bg"></div>
  </div>

  <div class="container-bg">
    <!--
    <span style="color: rgb(65, 65, 149);">{{'this.gameOver: ' + this.gameOver
    + ' | this.matchDone: ' + this.matchDone
    + ' | this.currentPlayer: ' + this.currentPlayer 
    + ' | this.myColor: ' + this.myColor
    + ' | this.inProgress: ' + this.inProgress }} </span>
    -->
    <!-- Current Player & Score Display -->
    <div class="info-bar" [ngClass]="{ 'game-finished': matchDone }">
      <div class="info-item current-player">
        <!--
        <span class="label">Current Player:</span>
        <div
          class="player-indicator"
          [ngClass]="currentPlayer === 'B' ? 'player-black' : 'player-white'"
        ></div>
        <span
          class="player-label"
          [style]="{ color: currentPlayer === 'B' ? 'black' : 'white' }"
        >
          ({{ currentPlayer === 'B' ? 'Black' : 'White'}})
        </span>
        -->
        <!-- Show if it's MY turn or not -->
        <span *ngIf="myTurn; else noTurn" class="turn-label turn-active">
          It's your turn!
        </span>
        <ng-template #noTurn>
          <span class="turn-label turn-waiting"> Waiting... </span>
        </ng-template>
      </div>

      <hr />

      <div class="info-item">
        <span class="label" style="margin-right: 0 !important"
          >{{players.black === this.myUserId ? 'You' : players.black}}
          {{players.black.toLowerCase() === 'babe25' ? '💗' : ''}}
          (</span
        >
        <div class="score-indicator player-black"></div>
        <span class="label">) :</span>
        <span class="score">{{ score.B + '/' + maxScore }}</span>
      </div>
      <div class="info-item">
        <span class="label" style="margin-right: 0 !important"
          >{{players.white === this.myUserId ? 'You': players.white}}
          {{players.white.toLowerCase() === 'babe25' ? '💗' : ''}}
          (</span
        >
        <div class="score-indicator player-white"></div>
        <span class="label">) :</span>
        <span class="score">{{ score.W + '/' + maxScore }}</span>
      </div>

      <hr />
    </div>

    <!-- Board Area -->
    <div class="board-container">
      <div class="board-grid" [class.ring-rotating]="isRotating">
        <div class="board-row" *ngFor="let row of board; let r = index">
          <div
            class="board-cell"
            *ngFor="let cell of row; let c = index"
            [attr.data-row]="r"
            [attr.data-col]="c"
            [ngClass]="{
    'rotate-180': arrowDirectionGrid['rotate-180'].includes(r + '' + c),
    'rotate-90': arrowDirectionGrid['rotate-90'].includes(r + '' + c),
    'rotate--90': arrowDirectionGrid['rotate--90'].includes(r + '' + c),
    'rotate-0': arrowDirectionGrid['rotate-0'].includes(r + '' + c)
  }"
            (click)="placeMarble(r, c, myUserId)"
          >
            <div
              [ngClass]="{
    'cell-black': cell === 'B',
    'cell-white': cell === 'W'
  }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Result / Game Over for this Round -->
    <div class="result-board" *ngIf="gameOver && !matchDone">
      <div *ngIf="winner === 'B'" class="winner-panel black-winner">
        {{players.black}} wins this round!!
      </div>
      <div *ngIf="winner === 'W'" class="winner-panel white-winner">
        {{players.white}} wins this round!!
      </div>
      <div *ngIf="winner === null" class="winner-panel tie-winner">
        It’s a tie !!
      </div>
      <button class="round-button" (click)="resetBoard(false)">
        Next Round !
      </button>
    </div>

    <!-- Match Done -->
    <div class="result-board match-done" *ngIf="matchDone">
      <div
        class="winner-panel final-winner"
        [ngClass]="{
        'black-winner': finalWinner === 'B',
        'white-winner': finalWinner === 'W'
      }"
      >
        {{ finalWinner === 'B' ? players.black : players.white }} wins the
        match!!
      </div>
    </div>

    <div class="button-container">
      <button class="reset-button" (click)="resetBoard(true)">Reset</button>
      <button class="quit-button" (click)="quit()">Quit</button>
    </div>
  </div>
</ion-content>
