/* Import Fredoka One font globally */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Apply the Fredoka One font-family globally */
* {
  font-family: 'Fredoka One', sans-serif !important;
  box-sizing: border-box;
}

.container-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(to bottom right, #f6caca, #8de5e4);
}

/* The main card / form container */
.room-form {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 8px #444;
  width: 90%;
  max-width: 400px;
  padding: 1.5rem;
  text-align: center;

  h2 {
    margin: 0 0 1rem;
    font-size: 1.8rem;
    color: #333;
  }
}

/* Ion-Item styling */
.custom-item {
  margin-bottom: 1.2rem;
  --background: transparent;
  --border-radius: 10px;

  ion-label {
    color: rgb(68, 85, 108);
    font-size: 1.1rem;
  }

  ion-input {
    color: #050d13;
    font-size: 1rem;
  }
}

/* Segment for color selection */
.color-select {
  margin: 1rem 0;

  .color-label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 0.5rem;
    color: #333;
  }

  .color-segment {
    ion-segment-button {
      font-weight: 600;
      --indicator-color: #d30a43; /* The highlight under the selected segment */
      --indicator-height: 4px;
      ion-label {
        color: #fff;
      }
    }
  }
}

/* Align create/join buttons side-by-side */
.button-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Cartoonish button style */
.cartoon-button {
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #666;
  transition: background-color 0.3s ease, transform 0.2s ease;
  --ripple-color: #ffb300;
  font-size: 1rem;

  &:hover {
    transform: scale(1.05);
  }
}

.error-label {
  margin-top: 1rem;
  color: #a32626;
  font-size: 1.1rem;
  font-weight: 600;
}

.score-indicator {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 5px;
}

.player-black {
  background-color: #000;
  background: url("../../../assets/game/black_ball.png") no-repeat center center;
  background-size: contain;
}

.player-white {
  background-color: #fff;
  background: url("../../../assets/game/white_ball.png") no-repeat center center;
  background-size: contain;
}

.choose-color {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
  justify-content: center;
}

.instruction-message {
  text-align: center;
  margin: 10px 0;
  font-size: 11px;
  color: rgb(68, 85, 108);
}
